<section class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to Patient Financial Services</h1>
    <p class="lead">Choose from a range of healthcare services and estimate your costs. Or, conveniently pay your medical bills online.</p>
    <div class="row mt-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Estimate Services</h2>
            <p class="card-text">Get an estimate of the cost for the healthcare services you need.</p>
            <a class="btn btn-primary" routerLink="/services" role="button">Get Estimate</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Pay Your Bill</h2>
            <p class="card-text">Make a payment or set up a payment plan for your healthcare services.</p>
            <a class="btn btn-primary" routerLink="/bill-pay" role="button">Pay Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
